@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer components {

  /* Center children along the x and y axis */
  .xy-center-children {
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: theme(colors.gray.light);
  }
  
  ::-webkit-scrollbar-thumb {
    background: theme(colors.black-primary);
  }
}